<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link href="~/admin/easyui/themes/icon.css" rel="stylesheet" />
    <link href="~/admin/easyui/themes/bootstrap/easyui.css" rel="stylesheet" />
    <link href="~/admin/easyui/themes/icon.css" rel="stylesheet" />

    <link href="~/admin/token-input/token-input.css" rel="stylesheet" />
    <link href="~/admin/token-input/token-input-facebook.css" rel="stylesheet" />
    <link href="~/admin/css/base.css" rel="stylesheet" />


    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/admin/easyui/jquery.easyui.min.js"></script>




    @RenderSection("scripts", required: false)
</head>
<body>
    @RenderBody()
    <script src="~/admin/js/base.js"></script>
</body>

</html>