@{
    ViewData["Title"] = "About";
}
@model Model.Category

@*@foreach (var item in Model)
{*@
    <h2>@Model.Title  @Model.Id</h2>
@*}*@
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>
