



@{Layout = null;}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link href="~/admin/easyui/themes/bootstrap/easyui.css" rel="stylesheet" />
    <link href="~/admin/easyui/themes/icon.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/admin/easyui/jquery.easyui.min.js"></script>
</head>
<body class="easyui-layout">


    <script>

        $(function () {
            tabClose();
            tabCloseEven();

            $('#css3menu a').click(function () {
                $('#css3menu a').removeClass('active');
                $(this).addClass('active');

                var d = _menus[$(this).attr('name')];
                Clearnav();
                addNav(d);
                InitLeftMenu();
            });

            // 导航菜单绑定初始化
            $("#wnav").accordion({
                animate: false
            });

            //var firstMenuName = $('#css3menu a:first').attr('name');
            //addNav(_menus[firstMenuName]);
            InitLeftMenu();
        });

        function Clearnav() {
            var pp = $('#wnav').accordion('panels');

            $.each(pp, function (i, n) {
                if (n) {
                    var t = n.panel('options').title;
                    $('#wnav').accordion('remove', t);
                }
            });

            pp = $('#wnav').accordion('getSelected');
            if (pp) {
                var title = pp.panel('options').title;
                $('#wnav').accordion('remove', title);
            }
        }

        function addNav(data) {

            $.each(data, function (i, sm) {
                var menulist = "";
                menulist += '<ul>';
                $.each(sm.menus, function (j, o) {
                    menulist += '<li><div><a ref="' + o.menuid + '" href="#" rel="'
                        + o.url + '" ><span class="icon ' + o.icon
                        + '" >&nbsp;</span><span class="nav">' + o.menuname
                        + '</span></a></div></li> ';
                });
                menulist += '</ul>';

                $('#wnav').accordion('add', {
                    title: sm.menuname,
                    content: menulist,
                    iconCls: 'icon ' + sm.icon
                });

            });

            var pp = $('#wnav').accordion('panels');
            var t = pp[0].panel('options').title;
            $('#wnav').accordion('select', t);

        }

        // 初始化左侧
        function InitLeftMenu() {

            hoverMenuItem();

            $('#wnav li a').live('click', function () {
                var tabTitle = $(this).children('.nav').text();

                var url = $(this).attr("rel");
                var menuid = $(this).attr("ref");
                var icon = getIcon(menuid, icon);

                addTab(tabTitle, url, icon);
                $('#wnav li div').removeClass("selected");
                $(this).parent().addClass("selected");
            });

        }

        /**
         * 菜单项鼠标Hover
         */
        function hoverMenuItem() {
            $(".easyui-accordion").find('a').hover(function () {
                $(this).parent().addClass("hover");
            }, function () {
                $(this).parent().removeClass("hover");
            });
        }

        // 获取左侧导航的图标
        function getIcon(menuid) {
            var icon = 'icon ';
            $.each(_menus, function (i, n) {
                $.each(n, function (j, o) {
                    $.each(o.menus, function (k, m) {
                        if (m.menuid == menuid) {
                            icon += m.icon;
                            return false;
                        }
                    });
                });
            });
            return icon;
        }

        function addTab(subtitle, url, icon) {
            if (!$('#tabs').tabs('exists', subtitle)) {
                $('#tabs').tabs('add', {
                    title: subtitle,
                    content: createFrame(url),
                    closable: true,
                    icon: icon
                });
            } else {
                $('#tabs').tabs('select', subtitle);
                $('#mm-tabupdate').click();
            }
            tabClose();
        }

        function createFrame(url) {
            var s = '<iframe scrolling="auto" frameborder="0"  src="' + url + '" style="width:100%;height:100%;"></iframe>';
            return s;
        }

        function tabClose() {
            /* 双击关闭TAB选项卡 */
            $(".tabs-inner").dblclick(function () {
                var subtitle = $(this).children(".tabs-closable").text();
                $('#tabs').tabs('close', subtitle);
            });
            /* 为选项卡绑定右键 */
            $(".tabs-inner").bind('contextmenu', function (e) {
                $('#mm').menu('show', {
                    left: e.pageX,
                    top: e.pageY
                });

                var subtitle = $(this).children(".tabs-closable").text();

                $('#mm').data("currtab", subtitle);
                $('#tabs').tabs('select', subtitle);
                return false;
            });
        }
        // 绑定右键菜单事件
        function tabCloseEven() {
            // 刷新
            $('#mm-tabupdate').click(function () {
                var currTab = $('#tabs').tabs('getSelected');
                var url = $(currTab.panel('options').content).attr('src');
                $('#tabs').tabs('update', {
                    tab: currTab,
                    options: {
                        content: createFrame(url)
                    }
                });
            });
            // 关闭当前
            $('#mm-tabclose').click(function () {
                var currtab_title = $('#mm').data("currtab");
                $('#tabs').tabs('close', currtab_title);
            });
            // 全部关闭
            $('#mm-tabcloseall').click(function () {
                $('.tabs-inner span').each(function (i, n) {
                    var t = $(n).text();
                    $('#tabs').tabs('close', t);
                });
            });
            // 关闭除当前之外的TAB
            $('#mm-tabcloseother').click(function () {
                $('#mm-tabcloseright').click();
                $('#mm-tabcloseleft').click();
            });
            // 关闭当前右侧的TAB
            $('#mm-tabcloseright').click(function () {
                var nextall = $('.tabs-selected').nextAll();
                if (nextall.length == 0) {
                    // msgShow('系统提示','后边没有啦~~','error');
                    alert('后边没有啦~~');
                    return false;
                }
                nextall.each(function (i, n) {
                    var t = $('a:eq(0) span', $(n)).text();
                    $('#tabs').tabs('close', t);
                });
                return false;
            });
            // 关闭当前左侧的TAB
            $('#mm-tabcloseleft').click(function () {
                var prevall = $('.tabs-selected').prevAll();
                if (prevall.length == 0) {
                    alert('到头了，前边没有啦~~');
                    return false;
                }
                prevall.each(function (i, n) {
                    var t = $('a:eq(0) span', $(n)).text();
                    $('#tabs').tabs('close', t);
                });
                return false;
            });

            // 退出
            $("#mm-exit").click(function () {
                $('#mm').menu('hide');
            });
        }

        // 弹出信息窗口 title:标题 msgString:提示信息 msgType:信息类型 [error,info,question,warning]
        function msgShow(title, msgString, msgType) {
            $.messager.alert(title, msgString, msgType);
        }

        // 本地时钟
        function clockon() {
            var now = new Date();
            var year = now.getFullYear(); // getFullYear getYear
            var month = now.getMonth();
            var date = now.getDate();
            var day = now.getDay();
            var hour = now.getHours();
            var minu = now.getMinutes();
            var sec = now.getSeconds();
            var week;
            month = month + 1;
            if (month < 10)
                month = "0" + month;
            if (date < 10)
                date = "0" + date;
            if (hour < 10)
                hour = "0" + hour;
            if (minu < 10)
                minu = "0" + minu;
            if (sec < 10)
                sec = "0" + sec;
            var arr_week = new Array("星期日", "星期一", "星期二", "星期三", "星期四", "星期五", "星期六");
            week = arr_week[day];
            var time = "";
            time = year + "年" + month + "月" + date + "日" + " " + hour + ":" + minu
                + ":" + sec + " " + week;

            $("#bgclock").html(time);

            var timer = setTimeout("clockon()", 200);
        }

    </script>


    <script type="text/javascript">
        var _menus = "";
        var _menus = {
            basic: [{
                "menuid": "10",
                "icon": "icon-sys",
                "menuname": "基础数据",
                "menus": [{
                    "menuid": "111",
                    "menuname": "基础数据1",
                    "icon": "icon-nav",
                    "url": "#"
                }, {
                    "menuid": "113",
                    "menuname": "基础数据12",
                    "icon": "icon-nav",
                    "url": "#"
                }, {
                    "menuid": "115",
                    "menuname": "基础数据13",
                    "icon": "icon-nav",
                    "url": "#"
                }, {
                    "menuid": "117",
                    "menuname": "基础数据14",
                    "icon": "icon-nav",
                    "url": "#"
                }, {
                    "menuid": "119",
                    "menuname": "基础数据15",
                    "icon": "icon-nav",
                    "url": "em/enterpriseChannelObtend.action"
                }]
            }, {
                "menuid": "20",
                "icon": "icon-sys",
                "menuname": "测试一",
                "menus": [{
                    "menuid": "211",
                    "menuname": "测试一11",
                    "icon": "icon-nav",
                    "url": "#"
                }, {
                    "menuid": "213",
                    "menuname": "测试一22",
                    "icon": "icon-nav",
                    "url": "#"
                }]
            }],
            point: [{
                "menuid": "20",
                "icon": "icon-sys",
                "menuname": "积分管理",
                "menus": [{
                    "menuid": "211",
                    "menuname": "积分用途",
                    "icon": "icon-nav",
                    "url": "#"
                }, {
                    "menuid": "213",
                    "menuname": "积分调整",
                    "icon": "icon-nav",
                    "url": "#"
                }]

            }]
        };
        //设置登录窗口
        function openPwd() {
            $('#w').window({
                title: '修改密码',
                width: 300,
                modal: true,
                shadow: true,
                closed: true,
                height: 160,
                resizable: false
            });
        }
        //关闭登录窗口
        function closePwd() {
            $('#w').window('close');
        }



        //修改密码
        function serverLogin() {
            var $newpass = $('#txtNewPass');
            var $rePass = $('#txtRePass');

            if ($newpass.val() == '') {
                msgShow('系统提示', '请输入密码！', 'warning');
                return false;
            }
            if ($rePass.val() == '') {
                msgShow('系统提示', '请在一次输入密码！', 'warning');
                return false;
            }

            if ($newpass.val() != $rePass.val()) {
                msgShow('系统提示', '两次密码不一至！请重新输入', 'warning');
                return false;
            }

            $.post('/ajax/editpassword.ashx?newpass=' + $newpass.val(), function (msg) {
                msgShow('系统提示', '恭喜，密码修改成功！<br>您的新密码为：' + msg, 'info');
                $newpass.val('');
                $rePass.val('');
                close();
            })

        }

        $(function () {

            openPwd();

            $('#editpass').click(function () {
                $('#w').window('open');
            });

            $('#btnEp').click(function () {
                serverLogin();
            })

            $('#btnCancel').click(function () { closePwd(); })

            $('#loginOut').click(function () {
                $.messager.confirm('系统提示', '您确定要退出本次登录吗?', function (r) {

                    if (r) {
                        location.href = '/ajax/loginout.ashx';
                    }
                });
            })
        });



    </script>


    <div region="north" split="true" border="false" style="height:60px;background:#B3DFDA;padding:10px">
        <span style="float:right; padding-right:20px;" class="head">欢迎 疯狂秀才 <a href="#" id="editpass">修改密码</a> <a href="#" id="loginOut">安全退出</a></span>

        <span style="padding-left:10px; font-size: 16px; float:left;"><img src="" width="20" height="20" align="absmiddle" /> 我的帐本</span>
        <ul id="css3menu" style="padding:0px; margin:0px;list-type:none; float:left; margin-left:40px;">
            <li><a class="active" name="basic" href="javascript:;" title="基础数据">基础数据</a></li>
            <li><a name="point" href="javascript:;" title="积分管理">积分管理</a></li>

        </ul>
    </div>
    <div region="south" split="true" style="height: 30px; background: #D2E0F2; ">
        <div class="footer"></div>
    </div>
    <div region="west" hide="true" split="true" title="导航菜单" style="width:180px;" id="west">
        <div id='wnav' class="easyui-accordion" fit="true" border="false">
            <!--  导航内容 -->
            @*@Html.Action("Menu")*@
        </div>

    </div>
    <div id="mainPanle" region="center" style="background: #eee; overflow-y:hidden">
        <div id="tabs" class="easyui-tabs" fit="true" border="false">
            <div title="欢迎使用" style="padding:20px;overflow:hidden;" id="home">

                <h1>Welcome to using The jQuery EasyUI!</h1>

            </div>
        </div>
    </div>




    <div id="mm" class="easyui-menu" style="width:150px;">
        <div id="mm-tabupdate">刷新</div>
        @*<div class="menu-sep"></div>*@
        <div id="mm-tabclose">关闭</div>
        <div id="mm-tabcloseall">全部关闭</div>
        <div id="mm-tabcloseother">除此之外全部关闭</div>
        @*<div class="menu-sep"></div>
            <div id="mm-tabcloseright">当前页右侧全部关闭</div>
            <div id="mm-tabcloseleft">当前页左侧全部关闭</div>
            <div class="menu-sep"></div>
            <div id="mm-exit">退出</div>*@
    </div>


</body>
</html>